table tr td{
	height: 30px;
	font-family: "SimHei";
	color: #26241C;
	text-align: center;
	cursor: default;
}
table{
	margin: 20px;
}
.input_button{
	border: 2px solid #B6AF9A;
	background: #B6AF9A;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 10px;
	font-size: 13px;
	color: #26241C;
	cursor: pointer;
}
.th{
	display: block;
	border: 4px double #B6AF9A;
	width: 100px;
	height: 25px;
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 15px;
	cursor: default;
}
.ctt{
	text-align: left;
}
a{
	text-decoration: none;
	color: #26241C;
}
a:hover{
	color: #B0A992;
}
#delete{
	 display: block; 
	 width: 44px; 
	 height: 19px; 
	 margin-left: 7px; 
	 padding-top: 4px; 
	 font-size: 13px;
	 font-family: 宋体;
	 background: #D7D5C1;
}
#AID td{
	width: 100px;
	height: 18px;
	border-right:  1px solid #D7D5C1;
}