#portrait{
	width: 150px;
	height: 150px;
	margin: 12px;
	float: left;
	border: 1px solid #857D60;
}
#btn{
	width: 95px;
	height: 154px;
	margin: 10px 0px; 
	float: left;
}
#btn1{
	margin: 40px 7px 18px;
}
#btn1 a{
	padding:2px 6px;
	width: 60px;
	height: 25px;
	border: 1px solid #857D60;
	font-size: 13px;
	color: #474233;
	background: #DFDDCD;
	text-decoration:none;
}
#btn2{
	margin: 7px;
}
#btn2 a{
	padding:2px 6px;
	width: 60px;
	height: 25px;
	border: 1px solid #857D60;
	font-size: 13px;
	color: #474233;
	background: #DFDDCD;
	text-decoration:none;
}
#message{
	width: 254px;
	height: 108px;
	margin: 12px;
	clear: left;
}
#message1 input{
	width: 254px;
	height: 70px;
	border: 1px solid #857D60;
}
#message2{
	margin-top: 3px;
}
#message2 input{
	width: 256px;
	height: 25px;
	border: 1px solid #857D60;
	font-size: 13px;
	color: #474233;
	background: #DFDDCD;
}