h2{
	padding-top: 8px;
	padding-left: 10px;
}
p{
	padding-left: 10px;
}
.dia{
	width: 570px;
	height: 125px;
	border-bottom: 2px dotted #D1CEB7;
	margin: -16px 6px;
}
#pho1{
	float:left;
	width:193px;
	height:190px;
	margin-top: 15px;
	margin-left: 1px;
	border-right: 1px solid #D1CEB7;
}
#pho2{
	float:left;
	width:193px;
	height:190px;
	margin-top: 15px;
	border-right: 1px solid #D1CEB7;
}
#pho3{
	float:left;
	width:193px;
	height:190px;
	margin-top: 15px;
}