#top{
	width: 865px;
	height: 27px;
	padding-top: 5px;
	padding-left: 8px;
	font-family: "SimHei";
	font-size: 20px;
	color: #534D3C;
	cursor: default;
}
#new{
	width: 70px;
	margin-left: 660px;
	cursor: pointer;
}
#set{	
	cursor: pointer;
}
.set{
	width: 40px;
	height: 24px;
	margin-left: 3px;
	border: 2px solid #D7D5C1;
	color: #26241C;
	background: #D7D5C1;
}
#back{
	width: 180px;
	height: 250px;
	margin-left: 30px;
	margin-top: 28px;
	float: left;
}
#show{
	width: 177px;
	height: 177px;
	border: 4px solid #B6AF9A;
	border-bottom: 25px solid #B6AF9A;
	margin: 10px;
}
#name{
	width: 185px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	font-family: "SimHei";
	font-size: 18px;
	color: #534D3C;
	cursor: pointer;
}